@model Restaurant.Entity.Entity.RestaurantBusines

@{
    ViewBag.Title = "AddRestaurantBusines";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h3>Yeni Restaurant ve İş Ekle</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <img src="~/Areas/Admin/Context/mekasoftware/180x180-M.png" alt="Kadir ARİ" width="50" />
                </div>
            </div>
        </div>
        @if (ViewBag.Mesaj != null)
        {
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Hata Mesajı</h4>
                    </div>
                </div>
                <div>
                    <p>@ViewBag.Mesaj</p>
                </div>
            </div>
        }
        <div class="pd-20 card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h4 class="text-blue h4">Yeni Restaurant ve İş Ekle</h4>
                </div>
            </div>
            <!-- Buraya Form Kısmını Ekle -->
            @using (Html.BeginForm("AddRestaurantBusines", "RestaurantBusines", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Başlık</label>
                        <div class="col-md-12">
                            <input type="text" name="Tittle" class="form-control" required placeholder="Lütfen Başlık Giriniz" maxlength="110" />
                            @Html.ValidationMessageFor(model => model.Tittle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Açıklama</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Content)
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Sıra</label>
                        <div class="col-md-12">
                            <input type="number" name="Rank" class="form-control" required placeholder="Lütfen Sırasını Giriniz" maxlength="110" />
                            @Html.ValidationMessageFor(model => model.Rank, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i> Yeni Restaurant ve İş Ekle</button>
                                <a href="/Admin/Dashboard/RestaurantBusines" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--Form bitiş-->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Editor/ckeditor/ckeditor.js"></script>
    <script src="~/Editor/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.instances['Content'];
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('Content', {
            enterMode: CKEDITOR.ENTER_BR,
        });
    CKFinder.setupCKEditor(null, '@Url.Content("~/Editor/ckfinder/")');
    </script>
}